* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  min-width: 320px;
}

.app {
  background: #000;
  color: #fff;
  transition: all 0.5s ease-out;

  &.wrongFlash {
    background: #ff0000;
    transition-duration: 0s;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 600px;
}

.fingerprintModeStats {
  display: flex;
  padding: 10px 0 30px 0;
}

.fingerprintWrapper {
  display: flex;
}

.fingerprint {
  width: 100%;
  height: auto;
  max-height: 55vh;
  object-fit: contain;
  display: block;
  opacity: 0.4;

  &.hidden {
    visibility: hidden;
  }
}

.modeStats {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 0 8px 0 0;
  margin-left: auto;
}

.mode {
  text-transform: uppercase;
  font-size: 0.8em;

  div {
    cursor: pointer;
    user-select: none;
    opacity: 0.4;
    margin-bottom: 10px;

    &.active {
      opacity: 1;
    }
  }
}

h2 {
  font-size: 1.4em;
  margin: 50px 0 10px 0;

  &:first-of-type {
    margin-top: 0;
  }
}

@media only screen and (min-device-width : 768px) {
  .mode {
    font-size: 1.2em;
  }
}
