.app {
  background: #000;
  transition: all 0.5s ease-out;

  &.wrongFlash {
    background: #ff0000;
    transition-duration: 0s;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 600px;
}

.fingerStats {
  display: flex;
}

.stats {
  margin: auto 0 0 auto;
  text-align: right;
  padding: 0 8px 20px 0;
}

.mode {
  text-transform: uppercase;


  div {
    cursor: pointer;
    user-select: none;
    opacity: 0.4;

    &.active {
      opacity: 1;
    }
  }
}

.lastRun {
  opacity: 0.4;
}

.thisRun {
  margin-top: 10px;
}

.title {
  text-transform: uppercase;
  font-size: 0.6em;
  white-space: nowrap;
}

.fingerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 280px;
}

.finger {
  width: 100%;
  display: block;
  margin: 20px 0;
  opacity: 0.4;

  &.hidden {
    visibility: hidden;
  }
}

.choices {
  display: flex;
  flex-wrap: wrap;
}

.choice {
  width: 25%;
  display: block;
  opacity: 0.4;
  cursor: pointer;
}

.choice.selected {
  opacity: 1;
}

.about {
  margin: 40px 0 20px 0;

  a {
    text-decoration: none;
    color: #4afcfe;
  }
}

h2 {
  font-size: 1.4em;
  margin: 40px 0 10px 0;

  &:first-of-type {
    margin-top: 0;
  }
}
