.choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choice {
  width: 25%;
  opacity: 0.4;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    max-width: 128px;
    display: block;
  }

  &.selected {
    opacity: 1;
  }
}
